# Automação Imobiliária

O código tem o propósito de realizar uma automação utilizando Selenium para buscar os dados nas páginas, ou seja, realizar o Scrapping, e com esses dados listar algumas imobiliárias de Brasília.

Será utilizado a lista já existente do Google apenas buscando as informações da mesma.

## Busca pelas imobiliárias disponíveis em Brasília

In [1]:
# Instalar Selenium
#!pip3 install selenium
!pip3 install parsel

Requirement already satisfied: parsel in f:\mcpvg\documents\anaconda\anaconda\lib\site-packages (1.6.0)
Requirement already satisfied: cssselect>=0.9 in f:\mcpvg\documents\anaconda\anaconda\lib\site-packages (from parsel) (1.1.0)
Requirement already satisfied: lxml in f:\mcpvg\documents\anaconda\anaconda\lib\site-packages (from parsel) (4.6.3)
Requirement already satisfied: w3lib>=1.19.0 in f:\mcpvg\documents\anaconda\anaconda\lib\site-packages (from parsel) (1.22.0)
Requirement already satisfied: six>=1.6.0 in f:\mcpvg\documents\anaconda\anaconda\lib\site-packages (from parsel) (1.16.0)

## Lógica de programação

Etapas:
1. Acessar site com a lista de imobiliárias
2. Buscar nome, endereço, telefone e nota da imobiliária
3. Salvar isso num DataFrame
4. Transformar em um csv

In [1]:
import pandas as pd

In [3]:
# A etapa de lógica de programação utilizou de uma extensão do google chamada Instant Data Scrapper

In [4]:
df = pd.read_csv('./google.csv')
df = df.rename(columns = {'vzRMeAg4Oi8__kl-trunc-name': 'Nome', 'sBhnyP5sXkG__rtng': 'Nota', 'sBhnyP5sXkG__number-of-reviews': 'Numero_avaliacoes'}, inplace = False)
df = df.sort_values("Nota", ascending=False)
display(df)

                                               Nome Nota Numero_avaliacoes
212           Augusto Cesar Consultoria Imobiliária  5,0               (2)
232  Duprime Imobiliária - Especialista no Lago Sul  5,0               (1)
161             CASA QUATRO CONSULTORIA IMOBILIÁRIA  5,0               (1)
163                               Freire Imóveis DF  5,0               (3)
164                  CLM Empreendimento Imobiliário  5,0               (1)
..                                              ...  ...               ...
417                                         Conj. E  NaN               NaN
420                   Sebastião Alves de Souza Neto  NaN               NaN
422                                           Q 3 C  NaN               NaN
424                                  Brenda Fashion  NaN               NaN
425                   Dentart Prótese Dentária Ltda  NaN               NaN

[429 rows x 3 columns]

In [5]:
df.isnull().sum()

Nome                  2
Nota                 83
Numero_avaliacoes    83
dtype: int64

In [6]:
df.info

<bound method DataFrame.info of                                                Nome Nota Numero_avaliacoes
212           Augusto Cesar Consultoria Imobiliária  5,0               (2)
232  Duprime Imobiliária - Especialista no Lago Sul  5,0               (1)
161             CASA QUATRO CONSULTORIA IMOBILIÁRIA  5,0               (1)
163                               Freire Imóveis DF  5,0               (3)
164                  CLM Empreendimento Imobiliário  5,0               (1)
..                                              ...  ...               ...
417                                         Conj. E  NaN               NaN
420                   Sebastião Alves de Souza Neto  NaN               NaN
422                                           Q 3 C  NaN               NaN
424                                  Brenda Fashion  NaN               NaN
425                   Dentart Prótese Dentária Ltda  NaN               NaN

[429 rows x 3 columns]>

In [7]:
df.dropna(subset = ["Nome"], inplace=True)
df.isnull().sum()

Nome                  0
Nota                 81
Numero_avaliacoes    81
dtype: int64

In [8]:
df.dropna(subset = ["Nota"], inplace=True)
df.isnull().sum()

Nome                 0
Nota                 0
Numero_avaliacoes    0
dtype: int64

In [15]:
df['Numero_avaliacoes'] = df['Numero_avaliacoes'].str.replace('(', '')
df['Numero_avaliacoes'] = df['Numero_avaliacoes'].str.replace(')', '')
df = df.astype({"Numero_avaliacoes": int})
df.dtypes

C:\Users\Pedro\AppData\Local\Temp/ipykernel_10060/679525870.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Numero_avaliacoes'] = df['Numero_avaliacoes'].str.replace('(', '')
C:\Users\Pedro\AppData\Local\Temp/ipykernel_10060/679525870.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Numero_avaliacoes'] = df['Numero_avaliacoes'].str.replace(')', '')

Nome                 object
Nota                 object
Numero_avaliacoes     int32
dtype: object

In [10]:
df.to_csv('imobiliarias.csv',sep=',', index=False)

In [16]:
df.to_excel('imobiliarias.xlsx', index=False)